body{
	margin: 0px;
	
}

.img1, .img2, .img3, .img4, .img5, .img6, .img7 {
	width: 100vw;
	height: 100vh;
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
}

.img1 {
	background-image: url("Screen1.jpg");
	opacity: 1;
}

.img2 {
	background-image: url("Screen2.jpg");
	opacity: 0;
}

.img3 {
	background-image: url("Screen3.jpg");
	opacity: 0;
}

.img4 {
	background-image: url("Screen4.jpg");
	opacity: 0;
}

.img5 {
	background-image: url("Screen5.jpg");
	opacity: 0;
}

.img6 {
	background-image: url("Screen6.jpg");
	opacity: 0;
}

.img7 {
	background-image: url("Screen7.jpg");
	opacity: 0;
}

.total {
	width: 100vw;
	height: 100vh;
	/*background-image: url("Screen.png");*/
	/*background-size: contain;
	background-repeat: no-repeat;*/
	position: absolute;
}

.b4ufb, .rtfb, .rtconfig, .rtgiftaxs {
	width: 50%;
	height: 10%;
	margin-left: 5%;
}

.b4ufb {
	margin-top: 5%;
}

.rtfb, .rtconfig, .rtgiftaxs {
	margin-top: 2%;
}

.fbsvg, .engrasvg, .giftaxssvg {
	height: 100%;
	float: left;
}

.fb, .config, .giftaxs {
	height: 100%;
	font-family: verdana;
	color: black;
	float: left;
	margin: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.fps, .winmode, .resolucion, .shader {
	height: 100%;
	font-family: verdana;
	color: black;
	margin: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dA_texto_1 {
	height: 50%;
	font-family: verdana;
	color: black;
	margin: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.d_boton, .dA_boton, .d_giftboton {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*
.load-item {
	width: 30px;
	height: 100%;
	border-radius: 50%;
	float: left;
	background: conic-gradient(from 0deg, white, skyblue);
	display: flex;

}
*/
.contenedor-texto {
	width: 80%;
	height: 100%;
	float: left;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.contenedor-numero {
	width: 10%;
	height: 100%;
	float: right;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.texto {
	margin: 0px;
	font-size: 15px;
	font-family: verdana;
}

.numero {
	margin: 0px;
	font-size: 15px;
	font-family: verdana;
}

.dialogo_config {
	background-color: rgba(0, 0, 0, 0);
	font-family: verdana;
	height: 45vh;
	width: 35vw;
	margin-top: 27.5vh;
	padding: 0px;
	border: 2px;
	border-radius: 10px;
	border-style: solid;
}

.dialogoAudition {
	background-color: rgba(0, 0, 0, 0);
	font-family: verdana;
	height: 30vh;
	width: 40vw;
	margin-top: 35vh;
	padding: 0px;
	border: 2px;
	border-radius: 10px;
	border-style: solid;
}

.dialogoGiftPin {
	background-color: rgba(0, 0, 0, 0);
	font-family: verdana;
	height: 30vh;
	width: 45vw;
	margin-top: 35vh;
	padding: 0px;
	border: 2px;
	border-radius: 10px;
	border-style: solid;
}

.d_win, .d_shader, .d_fps, .d_resolucion, .d_boton {
	height: 20%;
}

.dA_boton, .dA_texto {
	text-align: center;
}

.dA_texto {
	height: 66.6%;
}

.dA_boton {
	height: 33.3%;
}

.d_texto_giftpin, .d_pin, .d_serial, .d_giftboton {
	height: 25%;
}

.texto_giftpin {
	margin: 0px;
	width: 100%;
	height: 100%;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text_pin, .text_serial {
	margin: 0px;
	width: 33%;
	height: 100%;
	float: left;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.pin, .serial {
	margin: 0px;
	height: 100%;
	float: left;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.texto-numero-barra {
	width: 100%;
	position: absolute;
	bottom: 0;
}

.texto-numero {
	width: 100%;
	height: 30px;
}

.contenedor-barra {
	width: 100%;
	height: 15px;
	float: left;
}

.barra {
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, skyblue, hotpink);
}